<table
  mat-table
  [dataSource]="dataSource"
  matSort
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)"
>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>Date</th>
    <td mat-cell *matCellDef="let element">
      {{ element.date.toDate() | date: 'dd/MM/yyyy' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="mileage">
    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>Mileage</th>
    <td mat-cell *matCellDef="let element">{{ element.mileage }}</td>
  </ng-container>

  <ng-container matColumnDef="cost">
    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>Cost</th>
    <td mat-cell *matCellDef="let element">{{ element.cost }}</td>
  </ng-container>

  <ng-container matColumnDef="volume">
    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>Volume</th>
    <td mat-cell *matCellDef="let element">{{ element.volume }}</td>
  </ng-container>

  <ng-container matColumnDef="mileageSinceRecordsBegan">
    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
      Mileage Since Begin
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.mileageSinceRecordsBegan || '' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="volumeSinceRecordsBegan">
    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
      Volume Since Begin
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.volumeSinceRecordsBegan || '' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="costSinceRecordsBegan">
    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
      Cost Since Begin
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.costSinceRecordsBegan || '' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="avgPricePerMile">
    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
      Average price/mile
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.avgPricePerMile || '' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="avgMilesPerVolume">
    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
      Average miles/volume
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.avgMilesPerVolume || '' }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<pre>
  {{ history$ | async | json }}
</pre>
