<mat-card>
  <form [formGroup]="addCarForm" (ngSubmit)="addVehicle()">
    <mat-form-field>
      <mat-label>Name of Car</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Logo</mat-label>
      <mat-select formControlName="logo">
        <mat-option
          *ngFor="let logo of logos"
          [value]="logo"
          style="font-size: 25px;"
        >
          {{ logo }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Engine Type</mat-label>
      <mat-select formControlName="engineType">
        <mat-option *ngFor="let engine of engines" [value]="engine.value">
          {{ engine.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Current Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker touchUi></mat-datepicker>
      <mat-hint>The date at which the below mileage was recorded</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Current Mileage</mat-label>
      <input type="number" matInput formControlName="mileage" />
      <mat-error>Must be a postive number smaller than 9,999,999</mat-error>
    </mat-form-field>

    <div class="buttons">
      <button type="button" mat-button>Reset</button>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="addCarForm.invalid"
      >
        Add Vehicle
      </button>
    </div>
  </form>
</mat-card>
