.container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
