<div class="container">
  <div class="mat-title">{{ carDetails.logo }} {{ carDetails.name }}</div>
  <form [formGroup]="addFuelForm" (ngSubmit)="addFuel()">
    <mat-form-field>
      <mat-label>Current Mileage</mat-label>
      <input
        matInput
        type="number"
        [min]="carDetails.latestHistory?.mileage"
        formControlName="mileage"
      />
      <mat-hint>Current mileage from the vehicle's odometer</mat-hint>
      <mat-error
        *ngIf="this.addFuelForm.get('mileage').errors?.greaterThanPrevious"
        >Must be the same or equal to the previous mileage of
        {{ carDetails.latestHistory.mileage }}</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cost (£)</mat-label>
      <input matInput type="number" formControlName="cost" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Volume Fuelled (litres)</mat-label>
      <input matInput type="number" formControlName="volume" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cost / Volume (p/litres)</mat-label>
      <input matInput type="number" formControlName="costPerVolume" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date Fuelled</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [min]="carDetails.latestHistory?.date.toDate()"
        formControlName="date"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker touchUi></mat-datepicker>
      <mat-error
        *ngIf="this.addFuelForm.get('date').errors?.greaterThanPrevious"
        >Must be the same day or after the previous fuelling of
        {{
          carDetails.latestHistory.date.toDate() | date: 'dd/MM/yyyy'
        }}</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Comments</mat-label>
      <textarea matInput formControlName="comments"></textarea>
    </mat-form-field>

    <div class="buttons">
      <button type="button" mat-button (click)="onCancel($event)">
        Cancel
      </button>
      <button type="button" mat-button (click)="onReset()">Reset</button>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="addFuelForm.invalid"
        #addFuelButton
      >
        Add Fuel
      </button>
    </div>
  </form>
</div>
