<div class="container">
  <div class="mat-title">
    {{ data.carDetails.logo }} {{ data.carDetails.name }}
  </div>
  <form [formGroup]="addFuelForm" (ngSubmit)="addFuel()">
    <mat-form-field>
      <mat-label>Current Mileage</mat-label>
      <input
        matInput
        type="number"
        [min]="data.carDetails.latestHistory?.mileage + 1"
        formControlName="mileage"
      />
      <mat-hint>Current mileage from the vehicle's odometer</mat-hint>
      <mat-error
        *ngIf="this.addFuelForm.get('mileage').errors?.greaterThanPrevious"
        >Must be greater than the previous mileage of
        {{ data.carDetails.latestHistory.mileage }}</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cost (£)</mat-label>
      <input matInput type="number" formControlName="cost" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Volume Fuelled (litres)</mat-label>
      <input matInput type="number" formControlName="volume" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cost / Volume (p/litres)</mat-label>
      <input matInput type="number" formControlName="costPerVolume" />
    </mat-form-field>

    <mat-form-field (click)="picker.open()">
      <mat-label>Date Fuelled</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="date"
        [disabled]="true"
        style="color: rgba(255, 255, 255, 1);"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker touchUi disabled="false"></mat-datepicker>
      <mat-error
        *ngIf="this.addFuelForm.get('date').errors?.greaterThanPrevious"
        >Must be after the previous fuelling date of
        {{
          data.carDetails.latestHistory.date.toDate() | date: 'dd/MM/yyyy'
        }}</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Comments</mat-label>
      <textarea matInput formControlName="comments"></textarea>
    </mat-form-field>

    <div class="buttons">
      <button type="button" mat-button (click)="onCancel($event)">
        Cancel
      </button>
      <button type="button" mat-button (click)="onReset()">Reset</button>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="addFuelForm.invalid"
        #addFuelButton
      >
        Add Fuel
      </button>
    </div>
  </form>
</div>
