.bar-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

mat-progress-bar {
  height: 20px;
}

.mat-display-1 {
  margin-bottom: 30px;
}

.lighter {
  opacity: 0.5;
}
