<mat-card>
  <mat-card-title>{{ carDetails.logo }} {{ carDetails.name }} </mat-card-title>

  <mat-card-content>
    <app-efficiency-bar
      *ngIf="carDetails.latestHistory?.avgMilesPerVolume"
      [value]="carDetails.latestHistory.avgMilesPerVolume"
      unit="litres/mile"
      [upperLimit]="avgMilesPerVolumeUpperLimit"
      [lowerLimit]="avgMilesPerVolumeLowerLimit"
    ></app-efficiency-bar>

    <app-efficiency-bar
      *ngIf="carDetails.latestHistory?.avgPricePerMile"
      [value]="carDetails.latestHistory.avgPricePerMile"
      unit="£/mile"
      [upperLimit]="avgPricePerMileUpperLimit"
      [lowerLimit]="avgPricePerMileLowerLimit"
    ></app-efficiency-bar>

    <div class="totals" *ngIf="carDetails.latestHistory">
      <div class="total">
        <p class="lighter">Total mileage</p>
        <span class="mat-display-1">
          {{ carDetails.latestHistory.mileageSinceRecordsBegan }}
        </span>
        <span class="lighter">m</span>
      </div>
      <div class="total">
        <p class="lighter">Total volume</p>
        <span class="mat-display-1">
          {{ carDetails.latestHistory.volumeSinceRecordsBegan }}
        </span>
        <span class="lighter">l</span>
      </div>
      <div class="total">
        <p class="lighter">Total cost</p>
        <span class="lighter">£</span>
        <span class="mat-display-1">
          {{ carDetails.latestHistory.costSinceRecordsBegan }}
        </span>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions
    ><button mat-raised-button color="primary">
      History
    </button></mat-card-actions
  >
</mat-card>
