mat-card {
  margin: 10px;
}

.logo {
  font-size: 35px;
  line-height: 35px;
}

.fill-space {
  flex: 1 1 auto;
}

.totals {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .total {
    text-align: center;
  }

  p {
    margin-bottom: 0;
  }
}

.lighter {
  opacity: 0.5;
}
