mat-card {
  margin: 20px 10px 0px 10px;
}

.logo {
  font-size: 35px;
  line-height: 35px;
}

.fill-space {
  flex: 1 1 auto;
}

.totals {
  margin: 20px 0;

  .totals-content {
    display: flex;
    justify-content: space-between;
  }

  .total {
    text-align: center;
  }

  p {
    margin-bottom: 0;
  }
}

.lighter {
  opacity: 0.5;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 500px) {
  mat-card {
    margin-left: 0px;
    margin-right: 0px;
  }
}
