<mat-card>
  <mat-card-title
    >{{ carDetails.logo }} {{ carDetails.name }}
    <div class="fill-space"></div>
  </mat-card-title>
  <mat-card-content>
    <app-efficiency-bar
      *ngIf="carDetails.latestHistory?.avgMilesPerVolume"
      [value]="carDetails.latestHistory.avgMilesPerVolume"
      unit="litres/mile"
      [upperLimit]="avgMilesPerVolumeUpperLimit"
      [lowerLimit]="avgMilesPerVolumeLowerLimit"
    ></app-efficiency-bar>

    <app-efficiency-bar
      *ngIf="carDetails.latestHistory?.avgPricePerMile"
      [value]="carDetails.latestHistory.avgPricePerMile"
      unit="£/mile"
      [upperLimit]="avgPricePerMileUpperLimit"
      [lowerLimit]="avgPricePerMileLowerLimit"
    ></app-efficiency-bar>
  </mat-card-content>
  <mat-card-actions
    ><button mat-raised-button color="primary">
      History
    </button></mat-card-actions
  >
</mat-card>
