mat-card {
  margin: 10px auto;
  min-width: 200px;
  max-width: 500px;
}

mat-card-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.totals {
  display: flex;
  justify-content: space-between;

  .total {
    text-align: center;
  }

  p {
    margin-bottom: 0;
  }

  .mat-display-1 {
    margin-bottom: 0;
  }

  .lighter {
    opacity: 0.5;
  }
}
