mat-sidenav-container {
  height: 100%;
}

.side-bar-top {
  justify-content: space-between;
}

mat-sidenav {
  width: 220px;
  border: none;

  mat-toolbar {
    font-size: 18px;
    background: rgb(54, 71, 224);
  }
}

mat-nav-list {
  padding-top: 0px;
}

.fill-space {
  flex: 1 1 auto;
}
