<nav>
  <mat-list>
    <mat-list-item
      matTooltip="Dashboard"
      [matTooltipPosition]="(isHandset$ | async) ? 'above' : 'right'"
      [routerLink]="['']"
    >
      <span>⛽</span>
    </mat-list-item>

    <mat-list-item
      matTooltip="Add a new vehicle"
      [matTooltipPosition]="(isHandset$ | async) ? 'above' : 'right'"
      (click)="addCar()"
    >
      <mat-icon>add</mat-icon>
    </mat-list-item>

    <mat-list-item
      matTooltip="Settings"
      [matTooltipPosition]="(isHandset$ | async) ? 'above' : 'right'"
      [routerLink]="['settings']"
    >
      <mat-icon>settings</mat-icon>
    </mat-list-item>

    <mat-list-item
      *ngIf="user"
      matTooltip="Sign out"
      [matTooltipPosition]="(isHandset$ | async) ? 'above' : 'right'"
      (click)="signOut()"
    >
      <mat-icon>exit_to_app</mat-icon>
    </mat-list-item>
  </mat-list>
</nav>

<div class="main">
  <ng-content></ng-content>
</div>
