nav {
  width: 5rem;
  height: 100vh;
  background-color: #424242;
  position: fixed;
  z-index: 100;

  mat-list {
    display: flex;
    flex-direction: column;
    padding-top: 0;

    :hover {
      cursor: pointer;
      color: #8e24aa;
    }

    :first-child {
      background-color: #8e24aa;
    }

    mat-icon,
    span {
      margin-left: auto;
      margin-right: auto;
    }

    span {
      font-size: 1.2rem;
    }
  }
}

.main {
  margin-left: 5rem;
}

@media only screen and (max-width: 700px) {
  nav {
    bottom: 0;
    width: 100vw;
    height: 3rem;

    mat-list {
      flex-direction: row;

      .mat-list-item {
        height: 3rem;
      }
    }
  }

  .main {
    margin-left: 0;
    margin-bottom: 3rem;
  }
}
