mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 220px;
  border: none;

  mat-nav-list {
    padding-top: 0px;
  }

  mat-toolbar {
    justify-content: space-between;
    font-size: 18px;
    background: rgb(54, 71, 224);
  }
}

.fill-space {
  flex: 1 1 auto;
}
