<mat-sidenav-container>
  <!-- open sidenav if logged in and not on handset -->
  <mat-sidenav
    #sidenav
    fixedInViewport
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(afAuth.user | async) && !(isHandset$ | async) ? true : false"
  >
    <mat-nav-list>
      <mat-toolbar class="side-bar-top">
        <div>
          🚗 Your Vehicles
        </div>
        <button
          type="button"
          mat-icon-button
          matTooltip="Add a new car"
          (click)="addCar()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </mat-toolbar>
      <a
        mat-list-item
        *ngFor="let car of cars$ | async"
        (click)="handleCloseDrawerOnClick()"
        >{{ car.logo }} {{ car.name }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button
        *ngIf="afAuth.user | async"
        type="button"
        mat-icon-button
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      ⛽ Fuel
      <div class="fill-space"></div>
      <button
        *ngIf="afAuth.user | async"
        mat-icon-button
        (click)="signOut()"
        matTooltip="Sign Out"
      >
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
