<div class="container">
  <div class="mat-title">Add a New Driver to this Vehicle</div>
  <form [formGroup]="addDriverForm" (ngSubmit)="onAddDriver()">
    <mat-form-field>
      <mat-label>User ID (email not working yet)</mat-label>
      <input matInput type="text" formControlName="uidOrEmail" />
    </mat-form-field>

    <div class="buttons">
      <button type="button" mat-button (click)="onCancel($event)">
        Cancel
      </button>
      <button type="button" mat-button (click)="onReset()">Reset</button>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="addDriverForm.invalid"
        #addDriverButton
      >
        Add Driver
      </button>
    </div>
  </form>
</div>
