<div class="container">
  <div class="mat-title">Add a New Vehicle</div>
  <form [formGroup]="addDriverForm" (ngSubmit)="onAddDriver()">
    <mat-form-field>
      <mat-label>User ID</mat-label>
      <input matInput type="text" formControlName="uid" />
    </mat-form-field>
    OR
    <mat-form-field>
      <mat-label>email</mat-label>
      <input matInput type="emial" formControlName="email" />
    </mat-form-field>

    <div class="buttons">
      <button type="button" mat-button (click)="onCancel($event)">
        Cancel
      </button>
      <button type="button" mat-button (click)="onReset()">Reset</button>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="addDriverForm.invalid"
        #addVehicleButton
      >
        Add Driver
      </button>
    </div>
  </form>
</div>
